@font-face {
    font-family: Arabic;
    src: url('../../../fonts/NotoSansArabic/NotoSansArabic_SemiCondensed-Medium.ttf');
    }
    
@font-face {
    font-family: English;
    src: url('../../../fonts/Janna/Janna-LT-Regular.ttf');
    }
  
@font-face {
    font-family: English-Bold;
    src: url('../../../fonts/Janna/Janna-LT-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
  body {
    -ms-overflow-style: none;
  }
  
  html {
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  .img-background {
    height: 100%;
    background-image: url("./../../images/Z1Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: inset 1070px 200px 1000px 0 #fff;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .Slogo {
    width: 220px;
    padding-right: 15px;
    margin-left: 30px;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .Slogo img {
    max-width: 100%;
  }
  
  .upper-bar {
    width: 100%;
    height: 10%;
    box-shadow: -1875px 10px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 15px;
  }
  
  .upper-bar-2 {
    width: 100%;
    height: 10%;
    box-shadow: 225px 10px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 15px;
  }
  
  .title-1 {
    font-family: English-Bold;
    font-size: 40px;
    color: #000000;
    margin-left: 220px;
    position: absolute;
    bottom: 30px;
  }
  
  .title-2 {
    font-family: English-Bold;
    font-size: 35px;
    color: #2a60f3;
    margin-left: 230px;
    position: absolute;
    top: 35px;
  }
  
  .text-title {
    font-family: English-Bold;
    font-size: 55px;
    align-items: right;
    text-align: right;
    color: #000;
    position: absolute;
    top: 190px;
    left: 640px;
    margin-left: 160px;
  }
  
  .text-1 {
    font-family: English-Bold;
    font-size: 29px;
    align-items: right;
    text-align: right;
    color: #000;
    position: absolute;
    top: 270px;
    left: 100px;
    margin-right: 760px;
  }

  .seperator {
    font-family: English;
    font-size: 25px;
    margin-left: 140px;
    color: #2a60f3;
    position: absolute;
    bottom: 500px;
  }

  .profiles {
    font-family: English;
    /* This is going to be the circles */
  }

  .profile-1 {
    background-image: url("../../../images/Z1Profile1");
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: 5px solid blue;
    position: absolute;
    top: 450px;
    margin-left: 150px;
    overflow: hidden;
  }

  .profile-1-text-title {
    font-family: English-Bold;
    font-size: 30px;
    color: #000;
    position: absolute;
    margin-left: 350px;
    top: 470px;
}

  .profile-1-text {
    font-family: English;
    font-size: 20px;
    color: #6F7171;
    position: absolute;
    margin-left: 340px;
    top: 520px;
  }

  .profile-1-img {
    width: 200px;
    zoom: 90%;
    margin-left: -5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .profile-1-img img {
    max-height: 100%;
  }

  .profile-1-text-title {
    padding: 0 .25rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
  }

  .profile-1-text-title:hover {
    box-shadow: inset 1000px 0 0 0 #00000052;
    color: #ffffffc7;
  }

  .profile-2 {
    background-image: url("../../../images/Z1Profile2");
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: 5px solid blue;
    position: absolute;
    top: 650px;
    margin-left: 150px;
    overflow: hidden;
  }

  .profile-2-text-title {
    font-family: English-Bold;
    font-size: 30px;
    color: #000;
    position: absolute;
    margin-left: 350px;
    top: 670px;
}

  .profile-2-text {
    font-family: English;
    font-size: 20px;
    color: #6F7171;
    position: absolute;
    margin-left: 340px;
    top: 720px;
  }

  .profile-2-img {
    width: 200px;
    zoom: 90%;
    margin-left: -5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .profile-2-img img {
    max-height: 100%;
  }

  .profile-2-text-title {
    padding: 0 .25rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
  }

  .profile-2-text-title:hover {
    box-shadow: inset 1000px 0 0 0 #00000052;
    color: #ffffffc7;
  }

.profile-3 {
  background-image: url("../../../images/Z1Profile3");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 850px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-3-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 870px;
}

.profile-3-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 920px;
}

.profile-3-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-3-img img {
  max-height: 100%;
}

.profile-3-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-3-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

.profile-4 {
  background-image: url("../../../images/Z1Profile4");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 1050px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-4-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 1070px;
}

.profile-4-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 1120px;
}

.profile-4-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-4-img img {
  max-height: 100%;
}

.profile-4-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-4-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

.profile-5 {
  background-image: url("../../../images/Z1Profile5");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 1250px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-5-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 1270px;
}

.profile-5-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 1320px;
}

.profile-5-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-5-img img {
  max-height: 100%;
}

.profile-5-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-5-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

.profile-6 {
  background-image: url("../../../images/Z1Profile6");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 1450px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-6-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 1470px;
}

.profile-6-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 1520px;
}

.profile-6-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-6-img img {
  max-height: 100%;
}

.profile-6-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-6-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

.profile-7 {
  background-image: url("../../../images/Z1Profile7");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 1650px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-7-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 1670px;
}

.profile-7-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 1720px;
}

.profile-7-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-7-img img {
  max-height: 100%;
}

.profile-7-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-7-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

.profile-8 {
  background-image: url("../../../images/Z1Profile8");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 1850px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-8-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 1870px;
}

.profile-8-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 1920px;
}

.profile-8-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-8-img img {
  max-height: 100%;
}

.profile-8-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-8-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

.profile-9 {
  background-image: url("../../../images/Z1Profile9");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 2050px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-9-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 2070px;
}

.profile-9-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 2120px;
}

.profile-9-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-9-img img {
  max-height: 100%;
}

.profile-9-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-9-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

/*  */

.profile-10 {
  background-image: url("../../../images/Z1Profile9");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 2250px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-10-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 2270px;
}

.profile-10-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 2320px;
}

.profile-10-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-10-img img {
  max-height: 100%;
}

.profile-10-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-10-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

/*  */

.profile-11 {
  background-image: url("../../../images/Z1Profile9");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 2450px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-11-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 2470px;
}

.profile-11-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 2520px;
}

.profile-11-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-11-img img {
  max-height: 100%;
}

.profile-11-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-11-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

/*  */

.profile-12 {
  background-image: url("../../../images/Z1Profile1");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 2650px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-12-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 2670px;
}

.profile-12-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 2720px;
}

.profile-12-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-12-img img {
  max-height: 100%;
}

.profile-12-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-12-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

/*  */

.profile-13 {
  background-image: url("../../../images/Z1Profile1");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 2850px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-13-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 2870px;
}

.profile-13-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 2920px;
}

.profile-13-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-13-img img {
  max-height: 100%;
}

.profile-1-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-13-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

/*  */

.profile-14 {
  background-image: url("../../../images/Z1Profile1");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 3050px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-14-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 3070px;
}

.profile-14-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 3120px;
}

.profile-14-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-14-img img {
  max-height: 100%;
}

.profile-14-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-14-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

/*  */

.profile-15 {
  background-image: url("../../../images/Z1Profile1");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 3250px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-15-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 3270px;
}

.profile-15-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 3320px;
}

.profile-15-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-15-img img {
  max-height: 100%;
}

.profile-15-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-15-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

/*  */

.profile-16 {
  background-image: url("../../../images/Z1Profile1");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 3450px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-16-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 3470px;
}

.profile-16-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 3520px;
}

.profile-16-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-16-img img {
  max-height: 100%;
}

.profile-16-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-16-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

/*  */

.profile-17 {
  background-image: url("../../../images/Z1Profile1");
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid blue;
  position: absolute;
  top: 3650px;
  margin-left: 150px;
  overflow: hidden;
}

.profile-17-text-title {
  font-family: English-Bold;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-left: 350px;
  top: 3670px;
}

.profile-17-text {
  font-family: English;
  font-size: 20px;
  color: #6F7171;
  position: absolute;
  margin-left: 340px;
  top: 3720px;
}

.profile-17-img {
  width: 200px;
  zoom: 90%;
  margin-left: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-17-img img {
  max-height: 100%;
}

.profile-17-text-title {
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.profile-17-text-title:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

  @media only screen and (max-width: 767px) {
    img-background {
       background-image: url("./../../images/Z1Background2.png");
    }
  }