@font-face {
  font-family: Arabic;
  src: url('../../fonts/NotoSansArabic/NotoSansArabic_SemiCondensed-Medium.ttf');
}
  
@font-face {
  font-family: Arabic-2;
  src: url('./../../fonts/Arabic-Ubuntu/alfont_com_Ubuntu-Arabic_R.ttf')
}

@font-face {
  font-family: English;
  src: url('../../fonts/Janna/Janna-LT-Regular.ttf');
}

@font-face {
  font-family: English-Bold;
  src: url('../../fonts/Janna/Janna-LT-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}


/* html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background:  linear-gradient(20deg, rgb(211, 202, 202) 10%, rgb(51, 46, 214) 90%);
  border: 0.25em solid;
  border-radius: 100vw;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh rgb(0, 0, 0);
  border-radius: 100vw;
} */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Z1Loader.gif) center no-repeat #fff;
}

.img-background {
  height: 100vh;
  background-image: url("./../../images/Z1Background.png");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  box-sizing: border-box;
}

.Slogo {
  width: 21vh;
  padding-right: 15.1vw;
  margin-left: 1.7vw;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.Slogo img {
  max-width: 21vh;
}

.img-menu {
  width: 5vw;
  margin-left: 92vw;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.img-menu img {
  max-width: 5vw;
}

.EN {
  font-family: English;
  font-size: 1.7vh;
  position: absolute;
  top: 96vh;
  padding: 0 .25rem;
  color: black;
}

.EN:hover {
  font-family: English-Bold;
  background-image: url("./../../images/Z1SwitchEnglish.png");
}

.upper-bar {
  width: 100%;
  height: 10%;
  box-shadow: -97.6vw 0.5vw 0.5vw rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0.7vw;
}

.upper-bar-2 {
  width: 100%;
  height: 10%;
  box-shadow: 11.7vw 0.5vw 0.5vw rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0.7vw;
}

.title-1 {
  font-family: English-Bold;
  font-size: 2vw;
  color: #000000;
  margin-left: 11.4vw;
  position: absolute;
  bottom: 1.5vw;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.title-2 {
  font-family: English-Bold;
  font-size: 1.8vw;
  color: #2a60f3;
  margin-left: 11.9vw;
  position: absolute;
  top: 1.8vw;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.text-title {
  font-family: English-Bold;
  font-size: 2.86vw;
  align-items: right;
  text-align: right;
  color: #000;
  position: absolute;
  top: 10vw;
  margin-left: 32.5vw;
}

.text-1 {
  font-family: English-Bold;
  font-size: 1.5vw;
  align-items: right;
  text-align: right;
  color: #2a60f3;
  position: absolute;
  top: 14vw;
  left: 3vw;
  margin-right: 41vw;
}

.img-1 {
  width: 17vw;
  margin-left: 12.5vw;
  position: relative;
  top: 20vw;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.img-1 img {
  max-width: 100%;
}

.imgtxt-1 {
  font-family: Arabic;
  font-size: 1.8vw;
  position: absolute;
  top: 32.5vw;
  margin-left: 16vw;
  color: blue;
  transition: ease 0.3s;
}

.img-2 {
  width: 17vw;
  margin-left: 31vw;
  position: relative;
  top: 1.8vw;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.img-2 img {
  max-width: 100%;
}

.imgtxt-2 {
  font-family: Arabic;
  font-size: 1.8vw;
  color: #000;
  position: absolute;
  top: 32.5vw;
  margin-left: 34.5vw;
  color: blue;
  transition: ease 0.3s;
}

.img-3 {
  width: 17vw;
  margin-left: 49vw;
  position: relative;
  top: -16vw;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.img-3 img {
  max-width: 100%;
}

.imgtxt-3 {
  font-family: Arabic;
  font-size: 1.8vw;
  color: blue;
  position: absolute;
  top: 32.5vw;
  margin-left: 50.5vw;
  transition: ease 0.3s;
}

.imgtxt-1:hover {
  font-size: 37px;
  color: rgb(77, 77, 126);
  display: block;
  transition: ease 0.3s;
}
.imgtxt-2:hover {
  font-size: 37px;
  color: rgb(77, 77, 126);
  display: block;
  transition: ease 0.3s;
}
.imgtxt-3:hover {
  font-size: 37px;
  color: rgb(77, 77, 126);
  display: block;
  transition: ease 0.3s;
}

.lower-bar {
  height: 22.5vw;
  margin-top: 48.77vw;
  background-color: #2a6bce;
}

.copyright {
  font-family: English;
  font-size: 21px;
  color: #fff;
  position: absolute;
  margin-left: 1450px;
  bottom: -53vw;
}

.C {
  font-family: English-Bold;
  font-size: 30px;
  color: #fff;
  position: absolute;
  margin-left: 1560px;
  bottom: -51vw;
}

.contacts-phonenumber {
  font-family: English;
  font-size: 21px;
  color: #fff;
  position: absolute;
  margin-left: 857px;
  bottom: -53vw;
}

.CPN {
  font-family: English-Bold;
  font-size: 30px;
  color: #fff;
  position: absolute;
  margin-left: 850px;
  bottom: -51vw;
}

.contacts-socialmedia {
  font-family: English;
  font-size: 21px;
  color: #fff;
  position: absolute;
  margin-left: 1235px;
  bottom: -53vw;
}


.CSM {
  font-family: English-Bold;
  font-size: 30px;
  color: #fff;
  position: absolute;
  margin-left: 1200px;
  bottom: -51vw;
}

.L {
  font-family: English-Bold;
  font-size: 30px;
  color: #fff;
  position: absolute;
  margin-left: 370px;
  bottom: -51vw;
}

.location {
  font-family: English;
  font-size: 21px;
  color: #fff;
  position: absolute;
  margin-left: 50px;
  bottom: -53vw;
}

.CI {
  font-family: English-Bold;
  font-size: 30px;
  color: #fff;
  position: absolute;
  margin-left: 200px;
  bottom: -61vw;
}

.contacts-inquiries {
  font-family: English;
  font-size: 21px;
  color: #fff;
  position: absolute;
  margin-left: 330px;
  bottom: -63vw;
}

.team-1 {
  font-family: English;
  font-size: 20px;
  color: #fff;
  position: absolute;
  margin-left: 650px;
  bottom: -62.3vw;
}

.team-2 {
  font-family: English;
  font-size: 20px;
  color: #fff;
  position: absolute;
  margin-left: 690px;
  bottom: -63.6vw;
}

.team-3 {
  font-family: English;
  font-size: 20px;
  color: #fff;
  position: absolute;
  margin-left: 790px;
  bottom: -65.1vw;
}

.team-4 {
  font-family: English;
  font-size: 20px;
  color: #fff;
  position: absolute;
  margin-left: 750px;
  bottom: -66.3vw;
}

.OT {
  font-family: English-Bold;
  font-size: 30px;
  color: #fff;
  position: absolute;
  margin-left: 900px;
  bottom: -61vw;
}

.about {
  height: 410px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.about-title {
  font-family: English;
  font-size: 55px;
  margin-left: 870px;
  position: absolute;
  bottom: -520px;
}

.seperator {
  font-family: English;
  font-size: 25px;
  margin-left: 450px;
  position: absolute;
  bottom: -550px;
}

.about-text {
  font-family: English;
  font-size: 25px;
  text-align: center;
  position: absolute;
  bottom: -750px;
}

.version {
  font-size: 0.9vw;
  font-family: Arabic-2;
  top: -0.5vw;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.down-arrow {
  position: absolute;
  top: calc(49.5vw - 4vw);
  left: calc(100vh - 0vw);
  width: 0;
  height: 1.7vw;
  border: 0.15vw solid;
  border-radius: 2vw;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 0.5vw;
  left: -0.5vw;
  width: 0.85vw;
  height: 0.9vw;
  border-bottom: 0.25vw solid;
  border-right: 0.25vw solid;
  border-radius: 0.25vw;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.down-arrow {
  animation: jumpInfinite 2.0s infinite;
}

.team-4, .team-3, .team-2, .team-1, .contacts-socialmedia, .contacts-inquiries, .location {
  /* box-shadow: inset 0 0 0 0 #00000052;
  color: #00000052; */
  /* margin: 0 -.25rem; */
  padding: 0 .25rem;
  transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}
.team-4:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}
.team-3:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}
.team-2:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}
.team-1:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}
.contacts-socialmedia:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}
.contacts-inquiries:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}
.location:hover {
  box-shadow: inset 1000px 0 0 0 #00000052;
  color: #ffffffc7;
}

.fa {
  padding: 15px;
  width: 40px;
  border-radius: 15px;
  margin-left: 1265px;
  bottom: -53vw;
  position: absolute;
}

.fa:hover {
  opacity: 0.7;
  background: white;
  color: #3B5998;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

.D {
  font-family: English-Bold;
  font-size: 2vw;
  position: absolute;
  margin-left: 81vw;
  bottom: -61.3vw;
  transition: ease-in-out 0.3s;
}

.D:hover {
  font-size: 2.3vw;
  transition: ease-in-out 0.3s;
  animation: rainbow_animation 3s ease-in-out infinite;
}

.rainbow {
  background: linear-gradient(to right, #6666ff , #00ff00, #ff3399, #6666ff, #6666ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 7s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

@media only screen and (max-width: 767px) {
  img-background {
     background-image: url("./../../images/Z1Background.png");
  }
}