@font-face {
  font-family: Arabic;
  src: url('../../fonts/NotoSansArabic/NotoSansArabic_SemiCondensed-Medium.ttf');
  }
  
  @font-face {
  font-family: English;
  src: url('../../fonts/Janna/Janna-LT-Regular.ttf');
  }
  
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .background {
  padding: 15px;
  background: #2a60f3;
  }
  
  .line {
  height: 1000px;
  width: 0;
  background: #2a60f3;
  border-radius: 0;
  overflow: hidden;
  padding: 1px 1px 100px;
  }
  
  .intro {
  font-family: Arabic;
  }
  
  .wrap {
  width: 70%;
  background: #fff;
  border-radius: 45px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 150px 150px 0 95px;
  }
  
  .news {
  width: 100%;
  background: #ffffffc9;
  border-radius: 45px;
  margin-left: auto;
  padding: 1px 150px 1px 95px;
  text-align: right;
  }
  
  .end {
  color: #fff;
  /* width: 100%;
  background: #ffffffc9;
  border-radius: 45px;
  margin-left: auto;
  display: flex;
  padding: 1px 150px 1px 95px; */
  }
  
  .copyright,
  .contacts-phonenumber,
  .contacts-socialmedia,
  .location {
  font-family: English;
  }
  
  .head-announcement {
    background-color: #e64848;
    text-align: center;
  }
  .announcement {
    font-family: English;
    color: #fff;
  }

  .Options-Teachers {
    font-family: Arabic;
  }

  .Options-Students {
    font-family: Arabic;
  }

  #popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.459);
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  #popup {
  font-family: English;
  background-color: #4f75e0;
  text-align: justify;
  border-radius: 20px;
  color: #fff;
  padding: 20px;
  max-width: 450px;
  }
  
  #close-button {
  font-family: English;
  font-size: 15px;
  background-color: #2a60f3;
  border-radius: 200px;
  color: #fff;
  border: none;
  padding: 10px 159px;
  margin-top: 10px;
  cursor: pointer;
  }