@font-face {
    font-family: Arabic;
    src: url('../../../../fonts/NotoSansArabic/NotoSansArabic_SemiCondensed-Medium.ttf');
}
        
@font-face {
    font-family: English;
    src: url('../../../../fonts/Janna/Janna-LT-Regular.ttf');
}

@font-face {
    font-family: Arabic-2;
    src: url('../../../../fonts/Arabic-Ubuntu/alfont_com_Ubuntu-Arabic_R.ttf')
}
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #2a60f3;
    text-align: center;
}

.WIP {
    font-family: Arabic-2;
    font-size: 200px;
    color: #fff;
}