@font-face {
    font-family: Arabic;
    src: url('../../../../fonts/NotoSansArabic/NotoSansArabic_SemiCondensed-Medium.ttf');
}
        
@font-face {
    font-family: English;
    src: url('../../../../fonts/Janna/Janna-LT-Regular.ttf');
}

@font-face {
    font-family: Arabic-2;
    src: url('../../../../fonts/Arabic-Ubuntu/alfont_com_Ubuntu-Arabic_R.ttf')
}
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #2a60f3;
    background-repeat: no-repeat;
}

.background {
    height: 937px;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./../../../../images/Z2Background1.png");
    box-sizing: border-box;
    box-shadow: inset 1070px 200px 1000px 0 #fff;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.profile {
    width: 210px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.circle {
    border-radius: 50%;
    height: 210px;
    width: 210px;
    border: 5px solid nothing;
    box-shadow: 1px -1px 25px 1px rgb(0, 0, 0);
    position: absolute;
    bottom: 710px;
    margin-left: 850px;
    overflow: hidden;
}

.information-text {
    font-family: Arabic-2;
    font-size: 45px;
    color: #000;
    position: absolute;
    margin-left: 555px;
    top: 225px;
}
 
.information-text-2 {
    font-family: Arabic-2;
    font-size: 45px;
    color: #000;
    position: absolute;
    margin-left: 530px;
    top: 275px;
}

.information-text-3 {
    font-family: Arabic-2;
    font-size: 45px;
    color: #000000;
    position: absolute;
    margin-left: 300px;
    top: 330px;
}

.information-text-4 {
    font-family: Arabic-2;
    font-size: 45px;
    color: #000;
    position: absolute;
    margin-left: 560px;
    top: 380px;
}

.activities {
    font-family: English;
    font-size: 60px;
    color: #fff;
    position: absolute;
    margin-left: 750px;
    top: -10px;
}

.activities-all {
    width: 1730px;
    height: 450px;
    background-color: #2a60f3;
    position: absolute;
    margin-left: 90px;
    top: 450px;
    border-radius: 50px;
}